<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <h1><span class="bracket"> < </span> Software Developer <span class="bracket"> > </span> </h1>
  </nb-layout-header>



  <nb-layout-column>

    <main>


      <nb-card>
        <nb-card-header>
          <strong>
            <span class="bracket"> < </span> Timi Ogunkeye <span class="bracket"> > </span>
          </strong>
        </nb-card-header>
        <nb-card-body>
          <img class="profile" alt="" srcset="">
        </nb-card-body>
        <nb-card-footer> I am also quite active on <a href="https://github.com/timi95">Github</a> if you want to have a look at my stuff</nb-card-footer>
      </nb-card>
  
      <nb-card size="medium">
        <nb-card-header>
           <a class="link" href="https://github.com/timi95/Angular-Agents">Angular Agents</a>
        </nb-card-header>
        <nb-card-body>
          <object class="simulation" data="https://kind-bardeen-83b3ee.netlify.app" type=""></object>
        </nb-card-body>
      </nb-card>

    </main>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
